.root {
  background-color: var(--surface-light);
  color: var(--surface-light-reverse);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2rem;
  border: 2px solid var(--surface-light-reverse);
  cursor: pointer;
  padding: 0.5rem 1rem;

  &.iconOnly {
    padding: 0.5rem 0;
  }

  &.imageOnly {
    padding: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    
    svg {
      height: 1.5rem;
      width: auto;
    }
  }

  svg {
    height: 1.2em;
    width: auto;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--surface-light-reverse);
    color: var(--surface-light);
    transition: 0.3s;
  }
}
