@use '../../styles/variables' as v;

.root {
  position: absolute;
  top: 1.25rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  z-index: 10;
  height: 100dvh;
  pointer-events: none;
}

.slideNav {
  position: relative;
  margin-right: 1rem;
  top: 0;
  right: -1rem;
  width: 6.5rem;
  height: auto;
  background: var(--surface-light);
  border-radius: 2rem 0 0 2rem;
  border-top: 2px solid var(--surface-light-reverse);
  border-bottom: 2px solid var(--surface-light-reverse);
  border-left: 2px solid var(--surface-light-reverse);
  padding: 1.5rem;
  transform: translateX(5.25rem);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  pointer-events: all;

  @media (max-width: v.$breakpoint-small) {
    top: 3.75rem;
  }

  .navLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  &.isOpen {
    transform: translateX(0);
  }

  &::before {
    content: '';
    position: absolute;
    cursor: pointer;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 40px;
    background: var(--surface-light-reverse);
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition:
      width 0.2s ease,
      height 0.2s ease;
  }

  &:hover::before {
    width: 20px;
    height: 60px;
  }
}
