@keyframes linkColors {
  from {
    fill: white;
  }
  to {
    fill: black;
  }
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 10rem;

  .title {
    color: white;
  }

  .contact {
    display: flex;
    gap: 0.5rem;

    a {
      display: inline-flex;
      width: 20px;
      height: 20px;
      cursor: pointer;

      &:hover svg {
        animation-name: linkColors;
        animation-duration: .25s;
        animation-fill-mode: forwards;
      }

      svg {
        width: 100%;
        height: 100%;
        fill: white;
        pointer-events: none;
      }
    }
  }
}
