.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 10rem;

  .title {
  }

  .contact {
    display: flex;
    gap: 0.5rem;
    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
  }
}
